{%macro render_pagination(pagination,endpoint) %}

<nav>
<ul class="pagination">
    {#生成链接到上一页#}
    <li>
       <a href="{{ url_for(".home",page=pagination.prev().page) }}">
           上一页
       </a>
    </li>
    {# 生成中间部分#}

    {% for page in pagination.iter_pages()%}
        {% if page %}
            {% if page!=pagination.page %}
            <li>
                <a href="{{ url_for(endpoint,page=page) }}">
                    {{ page }}
                 </a>
            </li>
            {% else %}
            <li>
                <a href="">
                    {{ page }}
                </a>
            </li>
            {% endif %}
{#            如果post里面没有数据 就用...代替#}
        {% else %}
            <li><a>…</a><li>
        {% endif %}
    {% endfor %}


    {#生成链接到下一页#}
      <li>
       <a href="{{ url_for(".home",page=pagination.next().page) }}">
           下一页
       </a>
    </li>
</ul>
</nav>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css"></script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <title>{% block title %}Home{% endblock %}</title>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><a href="{{ url_for('.home') }}">My Blog</a> </h1>
        <p>Welcome to the blog!</p>
    </div>
    {% block body %}
    内容
    {% endblock %}
</div>
{% block js %}
    js
{% endblock %}
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>