{% macro render_pagination(pagination, endpoint) %}
    <nav>
        <ul class="pagination">
{#            第一部分#}
            <li>
{#                返回&raquo;符号#}
                <a href="{{ url_for('home', page=pagination.prev().page) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

{#        第二部分 循环遍历里面的每一个#}
            {% for page in pagination.iter_pages() %}
                {% if page %}
{#                    如果这一页不是当前页 傻 那就生成链接呗#}
                    {% if page != pagination.page %}
{#                        这个endpoint是要调用的函数#}
                        <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                    {% else %}
{#                        如果这个链接是当前页 那就生成一个没有href的链接#}
                        <li><a href="">{{ page }}</a></li>
                    {% endif %}
{#              如果page为空 那就弄一个 ... 表示无语#}
                {% else %}
                    <li><a>…</a><li>
                {% endif %}
            {% endfor %}

{#        第三部分开始#}
            <li>
{#                返回&raquo;符号#}
                <a href="{{ url_for('home', page=pagination.next().page) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
{#                回到主页的超链接#}
                <h1><a href="{{ url_for('home') }}">My Blog</a></h1>
                <p>Welcome to the blog!</p>
            </div>

            {% block body %}

            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>