{%macro render_pagination(pagination,endpoint) %}

<nav>
<ul class="pagination">
    {#生成链接到上一页#}
    <li>
       <a href="{{ url_for("home",page=pagination.prev().page) }}">
           上一页
       </a>
    </li>
    {# 生成中间部分#}

    {% for page in pagination.iter_pages()%}
        {% if posts %}
            {% if page!=pagination.post %}
            <li>
                <a href="{{ url_for("home",page=pagination.page) }}">
                    {{ page }}
                 </a>
            </li>
            {% else %}
            <li>
                <a href="">
                    {{ page }}
                </a>
            </li>
            {% endif %}
        {% else %}
            <li><a href="">...</a></li>
        {% endif %}
    {% endfor %}


    {#生成链接到下一页#}
      <li>
       <a href="{{ url_for("home",page=pagination.next().page) }}">
           下一页
       </a>
    </li>
</ul>
</nav>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <title>{% block title %}Home{% endblock %}</title>

</head>
<body>
{% block body %}
    内容
{% endblock %}
 <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>